/* classname starts with dot . */


/* .title{
    color: red;
    font-family: system-ui;
    text-decoration: underline;

}

.center{
    text-align: center;
} */

/* box model */
/* border => thickness style color
 padding => when space inside is required
 margin => when space outside is required


*/

.box{
    padding: 50px;
    border-radius: 20px;
    margin: 50px;
    width: 350px;
    border: 5px solid red;
    font-family:system-ui;
}

.box-img{
    width: 100%;
    border-radius: 20px;

}