body{
    font-family: system-ui;
}

.card{
    width: 300px;
    height: 250px;
}

.card-img{
    width:100%;
}

/* by using flex all child elements will come side by side */

.flexbox{
    display: flex;
    /* justify-content: space-between; */
    gap:20px;
    justify-content: center;
    flex-wrap: wrap;
}

.demo{
    margin: 60px auto;
    width: 520px;
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 12px;
}

.demo-img{
    width: 100%;
    border-radius: 14px;
}

.user{
    height:60px;
    width:60px;
    border-radius: 50%;
}

.profile{
    display: flex;
    /* margin-bottom: 24px; */
    gap: 8px;
    align-items: center;

}

.name{
    margin:0;
}

.username{
    margin:0;
    font-size: 14px;
    color: gray;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.card h3{
    font-size: 17px;
    margin-bottom:0;
}

.card p{
    font-size: 14px;
    margin: 6px 0;
}

.card-header{
    position: relative;

}

.try{
    position: absolute;
    bottom:0;
    background-color: blue;
    color: yellow;
    font-size: 14px;
    border-radius: 12px;
    padding: 3px 14px;
    margin: 12px;
}