/* Positions
.body{
    font-family: system-ui;
}
.card{
    margin: 10px auto;
    width: 270px;
    /* height:600px; */
    /* border: 2px solid lightgray;
    border-radius: 12px;
    padding:5px;
} */

/* .card-img{
    width: 100%;
    border-radius: 12px; */
    /* padding: 8px 8px 8px 8px; */
/* }

.help{
    background-color: black;
    right: 10px;
    bottom: 25px;
    color: white;
    padding: 14px 32px;
    font-size: 16px;
    border-radius: 15px;
    position: fixed;
}

.card-text{
    padding: 15px;
    text-align: center;
    font-family: "Poppins", sans-serif;
}


.offer{
    top: 0;
    position: sticky;
    margin: 10px auto;
    width: 270px; */
    /* height:600px; */
    /* border: 2px solid lightgray;
    border-radius: 12px;
    padding:5px;
    background-color: rgb(233, 84, 13 );
    color: white
}

.red{
    height:130px;
    width: 130px;
    background-color: red;
}

.green{
    position: absolute;

    height:100px;
    width: 100px;
    background-color: green;
}

.blue{
    height:180px;
    width: 180px;
    background-color: blue;
}


.parent{ 
    position: relative;
    width:600px;
    height: 400px;
    margin: 30px auto;
    background-color: blueviolet;
}

.child{
    position: absolute;
    bottom:0;
    right: 0;
    height: 100px;
    width: 100px;
    background-color: orangered;
}

.bg{
    width: 670px;
    margin:30px auto;
    position:relative;

}

.bg-img{
    width: 100%;
}

.bg-content{
    position: absolute;
    font-size: large;
    left:40px;
    bottom:80px;
    color:white;
}

.bg-button{
    background-color: white;
    border:none;
    padding: 14px 30px;
    border-radius: 15px;
}

.media-card{
    margin: auto;
    width: 300px;
    height:300px;

}

.profile-img{
    width: 100%;
    border-radius: 50%;
} */



/* .card{
    margin: auto;
    top: 50;
    width: 400px;
    height: 500px;
    border: 2px solid gray;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #333333;
}

.card-img{
    border-radius: 15px;

     width: 100%;
}

.card-header{
    position: relative;

}

.tag{
    position:absolute;
    bottom:0;
    background-color: rgb(255,248,230);
    color: rgb(58,41,0);
    padding: 3px 10px;
    border-radius: 12px;
    margin: 12px;
    font-size: 14px;
} */

.profile{
    position: relative;
    width: 560px;
    margin: 30px auto;
}

.profile-img{
    width: 100%;
}

.user{
    bottom:-10px;
    position: absolute;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    left:40px;
    border: 2px solid white;
    
}















 
